body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #f5f5f5;
}

h1 {
  text-align: center;
}

section {
  margin-bottom: 2rem;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  background: white;
}

input,
select {
  padding: 0.6rem 1.2rem;
  font-family: inherit;
}

li {
  margin: 5px 0px;
}

button {
  font-family: inherit;
  font-size: 0.9rem;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;
}

.btn-add {
  padding: 0.6rem 1.2rem;
  background-color: #2c3e50;
  color: white;
}

.btn-delete {
  background-color: #a93226;
  color: white;
  margin-left: 0.5rem;
}
